<%= form_tag(posts_path, method: "post") do %>
    <%= label_tag('post[text]', "Submit a Memory") %>
    <%= text_field_tag('post[text]') %>
    <%= submit_tag("Submit") %>
<% end %>

<%= form_tag(posts_unlock_path, method: "post") do %>
    <%= label_tag('number_to_unlock', "Number of posts to unlock") %>
    <%= text_field_tag('number_to_unlock') %>
    <%= submit_tag("Submit") %>
<% end %>

<p><%= @post_presenter.unlocked_post_count %> posts have been unlocked.</p>
<p><%= @post_presenter.locked_post_count %> posts are waiting to be unlocked.</p>

<section id="post-feed">
  <% @post_presenter.all_posts.each do |post| %>
    <div class="post <%= post.class_name %>">
      <% if post.is_locked %>
        <div class="post__text"><i class="fa fa-lock"></i> This post is locked. <a href="#">Make a donation</a> to unlock it!</div> 
      <% else %>
        <div class="post__text"><%= post.text %></div>
      <% end %>
      <div class="post__date">
        <%= post.created_at.strftime("Posted on %B %d, %Y") %></p>
      </div>
    </div>
  <% end %>
</section>

