<!DOCTYPE html>
<html>
  <head>
    <title>PennyForYourThoughts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav>
        <%= render partial: 'auth/links' %>
      </nav>
      <header>
        <h1>A penny for your thoughts...</h1>
      </header>
      <%= notice %>
      <%= alert %>
      <%= yield %>
    </div>
  </body>
</html>
